#tabpanel {
 background-image:url('chrome://yass/content/red.png');
 background-repeat:repeat-x;
 background-position:0px -100px
 
}
.grapharea {
 height:100px;
 margin:0px 0px 10px 0px;
 border:1px solid #222;
}

.sb {
 width:190px;
}
 